-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: farmacia-mysql-do-user-33936352-0.a.db.ondigitalocean.com    Database: farmacia_solutions
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'ab41570d-1463-11f1-b4fe-ea247d9acd89:1-40393';

--
-- Table structure for table `alertas`
--

DROP TABLE IF EXISTS `alertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas` (
  `alerta_id` bigint NOT NULL AUTO_INCREMENT,
  `alerta_fecha` datetime(6) NOT NULL,
  `alerta_leida` bit(1) DEFAULT NULL,
  `alerta_mensaje` text,
  `alerta_tipo` enum('producto_proximo_vencer','producto_vencido','stock_bajo') NOT NULL,
  `lote_id` bigint DEFAULT NULL,
  `producto_id` bigint DEFAULT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `farmacia_id` bigint NOT NULL,
  PRIMARY KEY (`alerta_id`),
  KEY `FKd29sbggdnrmt6p1vxb95o8ejx` (`lote_id`),
  KEY `FKobekdf8a0wgjehkrkjmunucpg` (`producto_id`),
  KEY `FK7xgh6nrsog90jy831sgexcp8w` (`sucursal_id`),
  KEY `FK5eekr3mx2mq7g8qukmgco9lm1` (`farmacia_id`),
  CONSTRAINT `FK5eekr3mx2mq7g8qukmgco9lm1` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FK7xgh6nrsog90jy831sgexcp8w` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`),
  CONSTRAINT `FKd29sbggdnrmt6p1vxb95o8ejx` FOREIGN KEY (`lote_id`) REFERENCES `inventario_lotes` (`lote_id`),
  CONSTRAINT `FKobekdf8a0wgjehkrkjmunucpg` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas`
--

LOCK TABLES `alertas` WRITE;
/*!40000 ALTER TABLE `alertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autorizaciones`
--

DROP TABLE IF EXISTS `autorizaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autorizaciones` (
  `autorizacion_id` bigint NOT NULL AUTO_INCREMENT,
  `autorizacion_fecha` datetime(6) NOT NULL,
  `autorizacion_referencia_id` bigint NOT NULL,
  `autorizacion_tipo` enum('anularFactura','descuentoEspecial','eliminarProductoVenta') NOT NULL,
  `usuario_cajero_id` bigint DEFAULT NULL,
  `usuario_supervisor_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`autorizacion_id`),
  KEY `FKcmx6lr67kphfl8w8tiqbxes4l` (`usuario_cajero_id`),
  KEY `FKigd13g2sctrhwk0ukf4ltq711` (`usuario_supervisor_id`),
  KEY `FKjgl30cw1rgkr97hllmmypnfbb` (`farmacia_id`),
  CONSTRAINT `FKcmx6lr67kphfl8w8tiqbxes4l` FOREIGN KEY (`usuario_cajero_id`) REFERENCES `usuarios` (`usuario_id`),
  CONSTRAINT `FKigd13g2sctrhwk0ukf4ltq711` FOREIGN KEY (`usuario_supervisor_id`) REFERENCES `usuarios` (`usuario_id`),
  CONSTRAINT `FKjgl30cw1rgkr97hllmmypnfbb` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autorizaciones`
--

LOCK TABLES `autorizaciones` WRITE;
/*!40000 ALTER TABLE `autorizaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `autorizaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja_cortes`
--

DROP TABLE IF EXISTS `caja_cortes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja_cortes` (
  `corte_id` bigint NOT NULL AUTO_INCREMENT,
  `corte_fecha` datetime(6) NOT NULL,
  `corte_total_efectivo` decimal(38,2) NOT NULL,
  `corte_total_tarjeta_credito` decimal(38,2) NOT NULL,
  `corte_total_tarjeta_debito` decimal(38,2) NOT NULL,
  `corte_total_ventas` decimal(38,2) NOT NULL,
  `sesion_id` bigint DEFAULT NULL,
  `usuario_supervisor_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`corte_id`),
  KEY `FK34ep914aj6h41acisc9q4ce8l` (`sesion_id`),
  KEY `FKodoptj8iyjh2hx5itx6t9u5la` (`usuario_supervisor_id`),
  KEY `FK46urx2rkg7denv2089np47yma` (`farmacia_id`),
  CONSTRAINT `FK34ep914aj6h41acisc9q4ce8l` FOREIGN KEY (`sesion_id`) REFERENCES `caja_sesiones` (`sesion_id`),
  CONSTRAINT `FK46urx2rkg7denv2089np47yma` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKodoptj8iyjh2hx5itx6t9u5la` FOREIGN KEY (`usuario_supervisor_id`) REFERENCES `usuarios` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja_cortes`
--

LOCK TABLES `caja_cortes` WRITE;
/*!40000 ALTER TABLE `caja_cortes` DISABLE KEYS */;
/*!40000 ALTER TABLE `caja_cortes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja_sesiones`
--

DROP TABLE IF EXISTS `caja_sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja_sesiones` (
  `sesion_id` bigint NOT NULL AUTO_INCREMENT,
  `sesion_estado` enum('abierta','cerrada') NOT NULL,
  `sesion_fecha_apertura` datetime(6) NOT NULL,
  `sesion_fecha_cierre` datetime(6) DEFAULT NULL,
  `sesion_fondo_inicial` decimal(38,2) NOT NULL,
  `caja_id` bigint DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`sesion_id`),
  KEY `FK70rrdxel05srmonamxbn7is7s` (`caja_id`),
  KEY `FKqshlpyswvkyd6f0tm0rospdd6` (`usuario_id`),
  KEY `FKfgy0n6siexec3ksbyy77qw3pe` (`farmacia_id`),
  CONSTRAINT `FK70rrdxel05srmonamxbn7is7s` FOREIGN KEY (`caja_id`) REFERENCES `cajas` (`caja_id`),
  CONSTRAINT `FKfgy0n6siexec3ksbyy77qw3pe` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKqshlpyswvkyd6f0tm0rospdd6` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja_sesiones`
--

LOCK TABLES `caja_sesiones` WRITE;
/*!40000 ALTER TABLE `caja_sesiones` DISABLE KEYS */;
INSERT INTO `caja_sesiones` VALUES (1,'abierta','2026-06-15 22:30:40.910458',NULL,100.00,1,6,7);
/*!40000 ALTER TABLE `caja_sesiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cajas`
--

DROP TABLE IF EXISTS `cajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cajas` (
  `caja_id` bigint NOT NULL AUTO_INCREMENT,
  `caja_estado` enum('activa','desactivada') NOT NULL,
  `caja_nombre` varchar(100) NOT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`caja_id`),
  KEY `FK4qkfl3u5alx75wxusts7pmcn` (`sucursal_id`),
  KEY `FK7g3dog4ytvnlpbplnj4lja2h8` (`farmacia_id`),
  CONSTRAINT `FK4qkfl3u5alx75wxusts7pmcn` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`),
  CONSTRAINT `FK7g3dog4ytvnlpbplnj4lja2h8` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cajas`
--

LOCK TABLES `cajas` WRITE;
/*!40000 ALTER TABLE `cajas` DISABLE KEYS */;
INSERT INTO `cajas` VALUES (1,'activa','Caja kimberly',5,7);
/*!40000 ALTER TABLE `cajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `categoria_id` bigint NOT NULL AUTO_INCREMENT,
  `categoria_estado` tinyint(1) NOT NULL DEFAULT '1',
  `categoria_nombre` varchar(100) NOT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`categoria_id`),
  KEY `FK30wyq3i98jdplaq3k84t4tm2v` (`farmacia_id`),
  CONSTRAINT `FK30wyq3i98jdplaq3k84t4tm2v` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (1,0,'Analg├®sicos',NULL),(2,1,'Vitaminas',NULL),(3,1,'Antibi├│ticos',NULL),(4,1,'Analg├®sicos',2),(5,1,'Vitam├¡nicos',2),(6,1,'Importados',2),(7,1,'Desinflamatorios',7),(8,1,'Sueros',7);
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_detalle`
--

DROP TABLE IF EXISTS `compra_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_detalle` (
  `detalle_id` bigint NOT NULL AUTO_INCREMENT,
  `detalle_cantidad` int NOT NULL,
  `detalle_precio_unitario` decimal(10,2) NOT NULL,
  `detalle_subtotal` decimal(10,2) NOT NULL,
  `compra_id` bigint DEFAULT NULL,
  `lote_id` bigint DEFAULT NULL,
  `producto_id` bigint DEFAULT NULL,
  PRIMARY KEY (`detalle_id`),
  KEY `FK7s7s0bvgysamxhfkk7rfu4459` (`compra_id`),
  KEY `FKdhj0y7iephnyulraa2j8phb61` (`lote_id`),
  KEY `FK45hwic6gkth6hfgcfn35jck5v` (`producto_id`),
  CONSTRAINT `FK45hwic6gkth6hfgcfn35jck5v` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `FK7s7s0bvgysamxhfkk7rfu4459` FOREIGN KEY (`compra_id`) REFERENCES `compras` (`compra_id`),
  CONSTRAINT `FKdhj0y7iephnyulraa2j8phb61` FOREIGN KEY (`lote_id`) REFERENCES `inventario_lotes` (`lote_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_detalle`
--

LOCK TABLES `compra_detalle` WRITE;
/*!40000 ALTER TABLE `compra_detalle` DISABLE KEYS */;
INSERT INTO `compra_detalle` VALUES (3,100,12.00,1200.00,3,5,7);
/*!40000 ALTER TABLE `compra_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compras`
--

DROP TABLE IF EXISTS `compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compras` (
  `compra_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `compra_estado` enum('activa','anulada') NOT NULL,
  `compra_fecha` date NOT NULL,
  `compra_observaciones` text,
  `compra_total` decimal(10,2) NOT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `usuario_id` bigint DEFAULT NULL,
  `farmacia_id` bigint NOT NULL,
  PRIMARY KEY (`compra_id`),
  KEY `FKhbvfdjvhhssrjusyc921pbjtd` (`sucursal_id`),
  KEY `FK4lnkw9964v2gf3b2sjbaealqw` (`usuario_id`),
  KEY `FKe8pssjwy1a37gvg1r6lio9v41` (`farmacia_id`),
  CONSTRAINT `FK4lnkw9964v2gf3b2sjbaealqw` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usuario_id`),
  CONSTRAINT `FKe8pssjwy1a37gvg1r6lio9v41` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKhbvfdjvhhssrjusyc921pbjtd` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compras`
--

LOCK TABLES `compras` WRITE;
/*!40000 ALTER TABLE `compras` DISABLE KEYS */;
INSERT INTO `compras` VALUES (3,'2026-06-15 23:26:06.880010','activa','2026-06-15',NULL,1200.00,5,6,7);
/*!40000 ALTER TABLE `compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmacias`
--

DROP TABLE IF EXISTS `farmacias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmacias` (
  `farmacia_id` bigint NOT NULL AUTO_INCREMENT,
  `farmacia_nombre` varchar(255) NOT NULL,
  `farmacia_nit` varchar(255) NOT NULL,
  `farmacia_email` varchar(255) NOT NULL,
  `farmacia_telefono` varchar(255) DEFAULT NULL,
  `plan` enum('basico','pro','chain') NOT NULL DEFAULT 'basico',
  `farmacia_activa` tinyint(1) NOT NULL DEFAULT '1',
  `en_periodo_prueba` tinyint(1) NOT NULL DEFAULT '1',
  `prueba_hasta` date DEFAULT NULL,
  `suscripcion_vigencia` date DEFAULT NULL,
  `max_sucursales` int NOT NULL DEFAULT '1',
  `max_usuarios` int NOT NULL DEFAULT '2',
  `auditoria_fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`farmacia_id`),
  UNIQUE KEY `farmacia_nit` (`farmacia_nit`),
  UNIQUE KEY `farmacia_email` (`farmacia_email`),
  KEY `idx_farmacias_activa` (`farmacia_activa`),
  KEY `idx_farmacias_plan` (`plan`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmacias`
--

LOCK TABLES `farmacias` WRITE;
/*!40000 ALTER TABLE `farmacias` DISABLE KEYS */;
INSERT INTO `farmacias` VALUES (1,'Farmacia Principal','000000000','admin@farmacloud.software','00000000','pro',1,1,'2026-06-23','2026-06-23',3,5,'2026-05-24 00:32:00'),(2,'Farmacia Baltazar','101233889','juana@gmail.com','55332233','pro',1,1,'2026-06-24','2026-06-24',3,5,'2026-05-24 00:42:55'),(3,'Farmacia Ochoa','605258789','farmasochoa@gmail.com','55887755','pro',1,1,'2026-07-15',NULL,3,5,'2026-06-15 14:57:22'),(7,'Farmacias El SOL','000555222','julianorellana2000@gmail.com','22220011','basico',1,1,'2026-06-30',NULL,1,2,'2026-06-15 21:20:28');
/*!40000 ALTER TABLE `farmacias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
INSERT INTO `flyway_schema_history` VALUES (1,'1','<< Flyway Baseline >>','BASELINE','<< Flyway Baseline >>',NULL,'doadmin','2026-06-12 23:41:02',0,1),(2,'2','crear tabla kardex','SQL','V2__crear_tabla_kardex.sql',556027924,'doadmin','2026-06-12 23:56:39',472,1),(3,'3','corregir kardex','SQL','V3__corregir_kardex.sql',-195542094,'doadmin','2026-06-13 05:39:55',583,1),(4,'4','eliminar created at kardex','SQL','V4__eliminar_created_at_kardex.sql',787418112,'doadmin','2026-06-13 05:45:45',541,1);
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

DROP TABLE IF EXISTS `inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario` (
  `inventario_id` bigint NOT NULL AUTO_INCREMENT,
  `inventario_cantidad_actual` int NOT NULL,
  `inventario_cantidad_minima` int NOT NULL,
  `producto_id` bigint DEFAULT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`inventario_id`),
  KEY `FK8x46qgr3a08qk6y9e1vr6m26v` (`producto_id`),
  KEY `FKg0fep9ov3wsu7rqtu9or6vh1k` (`sucursal_id`),
  KEY `FKe91x6vax370wvj0aiha1jbvno` (`farmacia_id`),
  CONSTRAINT `FK8x46qgr3a08qk6y9e1vr6m26v` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `FKe91x6vax370wvj0aiha1jbvno` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKg0fep9ov3wsu7rqtu9or6vh1k` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
INSERT INTO `inventario` VALUES (1,99,3,2,2,NULL),(5,92,0,7,5,7);
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_lotes`
--

DROP TABLE IF EXISTS `inventario_lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_lotes` (
  `lote_id` bigint NOT NULL AUTO_INCREMENT,
  `lote_cantidad_actual` int NOT NULL,
  `lote_cantidad_inicial` int NOT NULL,
  `lote_estado` enum('agotado','disponible','proximo_vencer','vencido') NOT NULL,
  `lote_fecha_vencimiento` date NOT NULL,
  `lote_numero` varchar(50) NOT NULL,
  `lote_precio_compra` decimal(10,2) NOT NULL,
  `producto_id` bigint DEFAULT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `farmacia_id` bigint NOT NULL,
  PRIMARY KEY (`lote_id`),
  KEY `FKapf7idsdtpxuun2b7pglgjpua` (`producto_id`),
  KEY `FKgp0eieixcxd2lm3ip6jw77e39` (`sucursal_id`),
  KEY `FK1q4fhx0m4wa5199gcvg43rfmf` (`farmacia_id`),
  CONSTRAINT `FK1q4fhx0m4wa5199gcvg43rfmf` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKapf7idsdtpxuun2b7pglgjpua` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `FKgp0eieixcxd2lm3ip6jw77e39` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_lotes`
--

LOCK TABLES `inventario_lotes` WRITE;
/*!40000 ALTER TABLE `inventario_lotes` DISABLE KEYS */;
INSERT INTO `inventario_lotes` VALUES (1,99,100,'disponible','2027-01-01','LOTE-001',10.50,2,2,2),(2,100,100,'disponible','2027-05-13','111111',25.00,6,5,7),(5,92,100,'disponible','2026-12-09','102030',12.00,7,5,7);
/*!40000 ALTER TABLE `inventario_lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kardex`
--

DROP TABLE IF EXISTS `kardex`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kardex` (
  `kardex_id` bigint NOT NULL AUTO_INCREMENT,
  `farmacia_id` bigint NOT NULL,
  `producto_id` bigint NOT NULL,
  `cantidad` int NOT NULL,
  `tipo_movimiento` enum('ENTRADA','SALIDA','AJUSTE') NOT NULL,
  `usuario_id` bigint DEFAULT NULL,
  `costo_unitario` decimal(38,2) DEFAULT NULL,
  `fecha_movimiento` datetime(6) NOT NULL,
  `observacion` varchar(255) DEFAULT NULL,
  `referencia_id` bigint DEFAULT NULL,
  `referencia_tipo` varchar(255) DEFAULT NULL,
  `stock_anterior` int NOT NULL,
  `stock_resultante` int NOT NULL,
  PRIMARY KEY (`kardex_id`),
  KEY `FKqy8mbf9dmmlan769e9ki8n2rs` (`farmacia_id`),
  KEY `FKrrs0solguculnw41cgrvgjv7d` (`producto_id`),
  KEY `FKjymttb8idid00xl5qey4nu89b` (`usuario_id`),
  CONSTRAINT `FKjymttb8idid00xl5qey4nu89b` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usuario_id`),
  CONSTRAINT `FKqy8mbf9dmmlan769e9ki8n2rs` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKrrs0solguculnw41cgrvgjv7d` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kardex`
--

LOCK TABLES `kardex` WRITE;
/*!40000 ALTER TABLE `kardex` DISABLE KEYS */;
INSERT INTO `kardex` VALUES (1,7,7,100,'ENTRADA',6,12.00,'2026-06-15 23:26:07.029825',NULL,3,'COMPRA',0,100),(2,7,7,3,'SALIDA',6,35.00,'2026-06-15 23:27:33.810566',NULL,2,'VENTA',100,97),(3,7,7,5,'SALIDA',6,35.00,'2026-06-16 06:15:11.250132',NULL,3,'VENTA',97,92);
/*!40000 ALTER TABLE `kardex` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presentaciones`
--

DROP TABLE IF EXISTS `presentaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presentaciones` (
  `presentacion_id` bigint NOT NULL AUTO_INCREMENT,
  `presentacion_estado` tinyint(1) NOT NULL DEFAULT '1',
  `presentacion_nombre` varchar(50) NOT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`presentacion_id`),
  KEY `FKp46j7wvb9dh6ip398xmsb13nm` (`farmacia_id`),
  CONSTRAINT `FKp46j7wvb9dh6ip398xmsb13nm` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presentaciones`
--

LOCK TABLES `presentaciones` WRITE;
/*!40000 ALTER TABLE `presentaciones` DISABLE KEYS */;
INSERT INTO `presentaciones` VALUES (1,1,'Tabletas',NULL),(2,1,'Suero',2),(3,0,'Inyecciones',2),(4,1,'Tabletas Gel',2),(5,1,'Pomada',2),(6,1,'Tabletas Gel import',2),(7,1,'Tabletas Gel',7),(8,1,'Botella 500ml.',7);
/*!40000 ALTER TABLE `presentaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `producto_id` bigint NOT NULL AUTO_INCREMENT,
  `producto_codigo_barras` varchar(50) DEFAULT NULL,
  `producto_estado` bit(1) NOT NULL,
  `producto_iva` decimal(5,2) NOT NULL,
  `producto_nombre` varchar(150) NOT NULL,
  `producto_precio_compra` decimal(12,2) NOT NULL,
  `producto_precio_venta` decimal(12,2) NOT NULL,
  `producto_requiere_receta` bit(1) NOT NULL,
  `categoria_id` bigint DEFAULT NULL,
  `presentacion_id` bigint DEFAULT NULL,
  `farmacia_id` bigint NOT NULL,
  PRIMARY KEY (`producto_id`),
  UNIQUE KEY `UKm8g361wb7sqd68ckikt5s9t8e` (`producto_codigo_barras`),
  KEY `FK2fwq10nwymfv7fumctxt9vpgb` (`categoria_id`),
  KEY `FKihwvq6reyxa9bji2wpfgh3bvo` (`presentacion_id`),
  KEY `FKo2eedbvio79yir15ijy3c4aja` (`farmacia_id`),
  CONSTRAINT `FK2fwq10nwymfv7fumctxt9vpgb` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`categoria_id`),
  CONSTRAINT `FKihwvq6reyxa9bji2wpfgh3bvo` FOREIGN KEY (`presentacion_id`) REFERENCES `presentaciones` (`presentacion_id`),
  CONSTRAINT `FKo2eedbvio79yir15ijy3c4aja` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expira_en` datetime(6) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `token` varchar(255) NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKghpmfn23vmxfu3spu3lfg4r2d` (`token`),
  KEY `FKpdrw1klic7bvvhhkjojwu64t2` (`usuario_id`),
  CONSTRAINT `FKpdrw1klic7bvvhhkjojwu64t2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sucursales`
--

DROP TABLE IF EXISTS `sucursales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sucursales` (
  `sucursal_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `sucursal_direccion` varchar(200) NOT NULL,
  `sucursal_estado` tinyint(1) NOT NULL DEFAULT '1',
  `sucursal_nombre` varchar(100) NOT NULL,
  `sucursal_telefono` varchar(20) DEFAULT NULL,
  `farmacia_id` bigint NOT NULL,
  PRIMARY KEY (`sucursal_id`),
  KEY `FKfdbslevprk5xh0y1o8ccidsux` (`farmacia_id`),
  CONSTRAINT `FKfdbslevprk5xh0y1o8ccidsux` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sucursales`
--

LOCK TABLES `sucursales` WRITE;
/*!40000 ALTER TABLE `sucursales` DISABLE KEYS */;
INSERT INTO `sucursales` VALUES (1,'2026-05-24 00:32:00.035514','Direcci├│n pendiente de actualizar',1,'Sucursal Central','00000000',1),(2,'2026-05-27 15:01:23.443446','17 calle zona 4 mixco',1,'Farmacia 1','77665544',2),(3,'2026-05-27 15:02:43.979824','99 calle zona 5 mixco',1,'Farmacia 2','77665544',2),(4,'2026-05-27 15:03:56.308751','V├¡a 4 Zona 4 Ciudad de Guatemala',1,'Farmacia 3','77665544',2),(5,'2026-06-15 21:20:28.560660','17 calle 38-70 condominio Villas Las Brisas',1,'Sucursal Villas','88552259',7);
/*!40000 ALTER TABLE `sucursales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripcion_pagos`
--

DROP TABLE IF EXISTS `suscripcion_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripcion_pagos` (
  `pago_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `pago_estado` enum('confirmado','pendiente','rechazado') NOT NULL,
  `pago_metodo` enum('efectivo','tarjeta','transferencia') NOT NULL,
  `pago_notas` text,
  `pago_periodo_fin` date NOT NULL,
  `pago_periodo_inicio` date NOT NULL,
  `pago_plan` enum('basico','chain','pro') NOT NULL,
  `pago_pronto` decimal(38,2) DEFAULT NULL,
  `pago_referencia` varchar(255) DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  `pago_monto` decimal(38,2) DEFAULT NULL,
  PRIMARY KEY (`pago_id`),
  KEY `FKddf94ceu5bdqpbckiypvdnm4c` (`farmacia_id`),
  CONSTRAINT `FKddf94ceu5bdqpbckiypvdnm4c` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripcion_pagos`
--

LOCK TABLES `suscripcion_pagos` WRITE;
/*!40000 ALTER TABLE `suscripcion_pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripcion_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `usuario_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `usuario_nombre_usuario` varchar(50) NOT NULL,
  `usuario_apellido` varchar(100) NOT NULL,
  `usuario_contrasena_hash` varchar(255) NOT NULL,
  `usuario_estado` tinyint(1) NOT NULL DEFAULT '1',
  `usuario_nombre` varchar(100) NOT NULL,
  `usuario_rol` enum('administrador','encargado','superadmin','vendedor') NOT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  `intentos_fallidos` int NOT NULL DEFAULT '0',
  `bloqueado_hasta` datetime DEFAULT NULL,
  `usuario_bloqueado_hasta` datetime DEFAULT NULL,
  `usuario_intentos_fallidos` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`usuario_id`),
  KEY `FKrod71kje33p5jysx10u0t9elc` (`sucursal_id`),
  KEY `FKf79fkm430k6gkqm359au6kpac` (`farmacia_id`),
  CONSTRAINT `FKf79fkm430k6gkqm359au6kpac` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKrod71kje33p5jysx10u0t9elc` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_detalle`
--

DROP TABLE IF EXISTS `venta_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_detalle` (
  `detalle_id` bigint NOT NULL AUTO_INCREMENT,
  `detalle_cantidad` int NOT NULL,
  `detalle_precio_unitario` decimal(10,2) NOT NULL,
  `detalle_subtotal` decimal(10,2) NOT NULL,
  `lote_id` bigint DEFAULT NULL,
  `producto_id` bigint NOT NULL,
  `venta_id` bigint NOT NULL,
  PRIMARY KEY (`detalle_id`),
  KEY `FKn1tqso7oc1y5lqycyn1i3d345` (`lote_id`),
  KEY `FKrwy9we00o6vg9ng7va6r3foac` (`producto_id`),
  KEY `FKcpfenuesve3ibi5gkenhm5gix` (`venta_id`),
  CONSTRAINT `FKcpfenuesve3ibi5gkenhm5gix` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`venta_id`),
  CONSTRAINT `FKn1tqso7oc1y5lqycyn1i3d345` FOREIGN KEY (`lote_id`) REFERENCES `inventario_lotes` (`lote_id`),
  CONSTRAINT `FKrwy9we00o6vg9ng7va6r3foac` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_detalle`
--

LOCK TABLES `venta_detalle` WRITE;
/*!40000 ALTER TABLE `venta_detalle` DISABLE KEYS */;
INSERT INTO `venta_detalle` VALUES (1,1,23.99,23.99,1,2,1),(2,3,35.00,105.00,5,7,2),(3,5,35.00,175.00,5,7,3);
/*!40000 ALTER TABLE `venta_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_pagos`
--

DROP TABLE IF EXISTS `venta_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_pagos` (
  `pago_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `metodo_de_pago` enum('efectivo','tarjetaDeCredito','tarjetaDeDebito') NOT NULL,
  `monto_recibido` decimal(38,2) NOT NULL,
  `monto_vuelto` decimal(38,2) NOT NULL,
  `referencia_transaccion` varchar(100) DEFAULT NULL,
  `caja_sesion_id` bigint DEFAULT NULL,
  `venta_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`pago_id`),
  KEY `FKoqa4ifcwf2c8c2oum8uil50gm` (`caja_sesion_id`),
  KEY `FKjm0ha6v57hylg9ikecurp60ew` (`venta_id`),
  KEY `FKkvrhnnk1trwvh8joc75n0fsrq` (`farmacia_id`),
  CONSTRAINT `FKjm0ha6v57hylg9ikecurp60ew` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`venta_id`),
  CONSTRAINT `FKkvrhnnk1trwvh8joc75n0fsrq` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKoqa4ifcwf2c8c2oum8uil50gm` FOREIGN KEY (`caja_sesion_id`) REFERENCES `caja_sesiones` (`sesion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_pagos`
--

LOCK TABLES `venta_pagos` WRITE;
/*!40000 ALTER TABLE `venta_pagos` DISABLE KEYS */;
INSERT INTO `venta_pagos` VALUES (1,'2026-06-15 23:27:35.010842','efectivo',120.00,15.00,NULL,1,2,7),(2,'2026-06-16 06:15:12.623325','efectivo',200.00,25.00,NULL,1,3,7);
/*!40000 ALTER TABLE `venta_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas` (
  `venta_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `venta_descuento` decimal(10,2) DEFAULT NULL,
  `venta_estado` enum('anulada','completada') NOT NULL,
  `venta_fecha` datetime(6) NOT NULL,
  `venta_nit_cliente` varchar(20) DEFAULT NULL,
  `venta_nombre_cliente` varchar(150) DEFAULT NULL,
  `venta_numero_factura` varchar(50) DEFAULT NULL,
  `venta_serie` varchar(10) DEFAULT NULL,
  `venta_subtotal` decimal(10,2) NOT NULL,
  `venta_total` decimal(10,2) NOT NULL,
  `sucursal_id` bigint DEFAULT NULL,
  `usuario_id` bigint DEFAULT NULL,
  `venta_fecha_certificacion` datetime(6) DEFAULT NULL,
  `venta_numero_autorizacion` varchar(50) DEFAULT NULL,
  `venta_uuid` varchar(50) DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`venta_id`),
  UNIQUE KEY `UKrgk170rvt8rcxthy9avo0qpsd` (`venta_numero_factura`),
  KEY `FK6jgx8f1tusxhcb1jnaj54e6vr` (`sucursal_id`),
  KEY `FKco9r9xjcdqtgd4nvnnolsr6ei` (`usuario_id`),
  KEY `FKr9deptcmqpkgusoxxk9gaiu6l` (`farmacia_id`),
  CONSTRAINT `FK6jgx8f1tusxhcb1jnaj54e6vr` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursales` (`sucursal_id`),
  CONSTRAINT `FKco9r9xjcdqtgd4nvnnolsr6ei` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usuario_id`),
  CONSTRAINT `FKr9deptcmqpkgusoxxk9gaiu6l` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
INSERT INTO `ventas` VALUES (1,'2026-05-28 00:25:26.286563',0.00,'completada','2026-05-28 00:25:26.271849','62716381','Julian',NULL,'A',23.99,23.99,2,1,NULL,NULL,NULL,NULL),(2,'2026-06-15 23:27:33.380816',0.00,'completada','2026-06-15 23:27:33.380816','101363605','Julian Alberto Orellana Ortiz',NULL,'A',105.00,105.00,5,6,NULL,NULL,NULL,7),(3,'2026-06-16 06:15:10.624698',0.00,'completada','2026-06-16 06:15:10.616445','101122558','Kimberly Pamela Ochoa',NULL,'A',175.00,175.00,5,6,NULL,NULL,NULL,7);
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_fel`
--

DROP TABLE IF EXISTS `ventas_fel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_fel` (
  `fel_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `fel_error_descripcion` text,
  `fel_estado` enum('Anulada','Certificada','Error','Pendiente') NOT NULL,
  `fel_fecha_certificacion` datetime(6) DEFAULT NULL,
  `fel_intentos` int NOT NULL,
  `fel_numero_autorizacion` varchar(50) DEFAULT NULL,
  `fel_uuid` varchar(36) DEFAULT NULL,
  `fel_xml_dte` text,
  `venta_id` bigint NOT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`fel_id`),
  UNIQUE KEY `UKq35vw9hxbg71thninqwa59es9` (`venta_id`),
  KEY `FKh47mxwli782l4dq6gyaftmrxv` (`farmacia_id`),
  CONSTRAINT `FKdm377cstb8arp67kop3e2nuck` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`venta_id`),
  CONSTRAINT `FKh47mxwli782l4dq6gyaftmrxv` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_fel`
--

LOCK TABLES `ventas_fel` WRITE;
/*!40000 ALTER TABLE `ventas_fel` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_fel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_fel_notas_credito`
--

DROP TABLE IF EXISTS `ventas_fel_notas_credito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_fel_notas_credito` (
  `nota_id` bigint NOT NULL AUTO_INCREMENT,
  `auditoria_fecha_creacion` datetime(6) NOT NULL,
  `nota_estado` enum('certificada','error','pendiente') NOT NULL,
  `nota_motivo` text NOT NULL,
  `nota_numero_autorizacion` varchar(50) NOT NULL,
  `nota_uuid` varchar(36) DEFAULT NULL,
  `nota_xml` text,
  `fel_id` bigint DEFAULT NULL,
  `farmacia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`nota_id`),
  KEY `FKjc1sirgd1xc026kr56afgk655` (`fel_id`),
  KEY `FKfhncoh8rrmeb6lp86ahxw230k` (`farmacia_id`),
  CONSTRAINT `FKfhncoh8rrmeb6lp86ahxw230k` FOREIGN KEY (`farmacia_id`) REFERENCES `farmacias` (`farmacia_id`),
  CONSTRAINT `FKjc1sirgd1xc026kr56afgk655` FOREIGN KEY (`fel_id`) REFERENCES `ventas_fel` (`fel_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_fel_notas_credito`
--

LOCK TABLES `ventas_fel_notas_credito` WRITE;
/*!40000 ALTER TABLE `ventas_fel_notas_credito` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_fel_notas_credito` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-16 12:00:19
